* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 50px;
  color: black;
}

.question {
  font-size: 70px;
  color: black;
}
.score {
  font-size: 40px;
  color: black;
}
.options {
  display: flex;
  gap: 20px;
}

.result-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 800px;
  height: 400px;
}

.timer {
  height: 20px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-self: left;
  align-self: flex-start;
}
.buttonDiv {
  display: flex;
  gapp: 20px;
}
