@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  background-image: url("bgPattern.png");
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 50px;
  color: black;
}

.question {
  font-size: 70px;
  color: black;
}
.score {
  font-size: 40px;
  color: black;
}
.options {
  display: flex;
  gap: 25px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 800px;
  height: 400px;
}

.timer {
  height: 20px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-self: left;
  align-self: flex-start;
}
.buttonDiv {
  display: flex;
  gapp: 20px;
}

@media only screen and (max-width: 600px) {
  .question {
    font-size: 35px;
  }
  .options {
    display: flex;
    flex-flow: column;
  }
  .container {
    overflow-y: scroll;
  }
}
